$white: #f8f8f8;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;
$darkNavy: #213140;
$teal1: #66b3fb;
$teal2: #4b9dea;
$charcoal: #555555;
$gold: #b6985a;
$activeShadow: 0 0 10px rgba($teal1, .5);

$open-sans: 'Open Sans', 'Helvetica', sans-serif;